<h2>新規登録</h2>


<div class="conteiner">
  <p class="signin_item">
    当サイトは、<span class="marker">タスク管理のサイト</span>です。初めてご利用の方は<span class="marker">About</span>ページをご確認ください。<br />
    必要事項をご記入の上、<span class="marker">「新規登録」</span>をお願いいたします。<br />
  </p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <p class="error_messages">
    <%= render "devise/shared/error_messages", resource: resource %>
  </p>

  <div class="field">
    <%= f.label "ユーザー名" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "usertext" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "usertext" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    (<%= @minimum_password_length %> 文字以上)
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "usertext" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "usertext" %>
  </div>

  <div class="field">
    <%= f.submit "新規登録", class: "btn btn-info" %>
  </div>
  <% end %>
</div>

<p class="log_in">
  ユーザー登録済みの方は
  <%= link_to 'こちら', new_user_session_path %>
  から
</p>
