<h2 class="headline">タスク編集</h2>

<div class="container">
  <div class="error">
    <% if @task.errors.any? %>
      <h2 class="error_message">
        <%= @task.errors.count %>件のエラーが発生しました。
      </h2>

        <div class="errors">
          <ul>
            <% @task.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  </div>

  <%= form_with model: @task do |f| %>

  <table class="edit_task">
    <tr>
      <td class="width20">タスク名</td>
      <td class="width80">
        <div class="form-group">
          <label for="task_name"></label>
          <%= f.text_field :name, class: "text_string" %>
        </div>
      </td>
    </tr>
    <tr>
      <td class="width20">ステータス</td>
      <td class="width80">
        <div class="form-group">
          <label for="task_status"></label>
          <%= f.select :status, Task.statuses_i18n.invert.to_a %>
        </div>
      </td>
    </tr>
    <tr>
      <td class="width20">開始</td>
      <td class="width80">
        <div class="form-group">
          <label for="task_start"></label>
          <%= f.date_field :start %>
        </div>
      </td>
    </tr>
    <tr>
      <td class="width20">期限</td>
      <td class="width80">
        <div class="form-group">
          <label for="task_limit"></label>
          <%= f.date_field :limit %>
        </div>
      </td>
    </tr>

    <tr>
      <td class="width20">ご褒美</td>
      <td class="width80">
        <div class="form-group">
          <label for="task_present"></label>
          <%= f.text_field :present, class: "text_string" %>
        </div>
      </td>
    </tr>

    <tr>
      <td class="width20">メモ</td>
      <td class="width80">
        <div class="form-group">
          <label for="task_present"></label>
            <%= f.text_area :note, class: "text_note" %>
        </div class="form-group">
        <div>
          <%= image_tag @task.get_image(500,500) %>
        </div>
        <%= f.file_field :image, accept: "image/*" %>
      </td>
    </tr>

  </table>

  <div class="form-group">
    <%= f.submit "変更を保存", class: "btn btn-info" %>
    <%= link_to "削除", task_path(@task.id), method: :delete, "data-confirm" => "削除しますか？", class:"btn btn-danger" %>

  </div>

  <% end %>
</div>
