<h3>タスク一覧</h3>


<table class="tasks" border="1"  style="border-collapse: collapse">

  <thead>
    <tr align="center">
      <th>ステータス</th>
      <th>タスク名</th>
      <th>ご褒美</th>
      <th>開始</th>
      <th>期限</th>
    </tr>
  </thead>

<%= @tasks.each do |task| %>
  <tbody>
    <tr align="center">
      <td><%= task.status %></td>
      <td><%= link_to task.name, edit_task_path %></td>
      <td><%= task.present %></td>
      <td><%= task.start %></td>
      <td><%= task.limit %></td>
    </tr>
  </tbody>
<% end %>

</table>

<%= paginate @tasks %>