<div class="container">
  <h2 class="headline">検索結果</h2>
    <table class="search_task">
      <% if @task_searches.present? %>
      <% search_word = @q.name_cont %>
      <% search_status = @q.status_eq_any.enum_for %>

    <h4 class="search_word">タスク名"<%= search_word %>"、ステータス"<%= @task_searches.first.status_i18n %>" </h4>
      <thead>
        <tr>
          <th>ステータス</th>
          <th>タスク名</th>
          <th>期日</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @task_searches.each do |task_search| %>
          <td><%= task_search.status_i18n %></td>
          <td><%= link_to task_search.name, edit_task_path(task_search.id) %></td>
          <td><%= task_search.limit %></td>
        </tr>
        <% end %>
      <% else %>
        <h3 class="nothing">検索結果がありません。</h3>
      <% end %>
    </table>
</div>

