<h2 class="headline">ユーザー情報編集</h2>

<%= form_with model: current_user do |f| %>

<div class="container">
  <div class="form-group">ユーザー名：
    <label for="user_name"></label>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <div class="email">メールアドレス：
      <label for="email"></label>
      <%= f.text_field :email, autofocus: true, placeholder:"メールアドレス" %>
    </div>
  </div>

  <div class='quit_check'>
    ユーザーステータス：
    <%= link_to "退会する", user_quit_check_path, class:"btn btn-danger"%>
  </div>

  <div class="update">
    <%= f.submit "編集内容を保存", class: "btn btn-info" %>
  </div>


</div>




<% end %>