<h2>About</h2>

<p>
  仕事や学校・家事・育児などなど、毎日お疲れさまでございます。<br />
  毎日忙しいと、休日はついついダラけてしまいたくなりますよね。。。
</p>

<%= image_tag 'ジョギング.png', size: '300x300' %>
<%= image_tag 'ダラダラ４.png', size: '300x300' %>

<p>
  やりたい事、やらなくてはいけない事はあるけどやる気が出なくて、ダラけて過ごしてしまい、<br />
  夜になって、やっておけばと後悔するなんて日がある方も多いのではないでしょうか？
</p>

<p class='speech-bubble'>
  何もやってない。。。
</p>

<%= image_tag '落ち込む人.png', size: '300x300' %>

<p class='speech-bubble'>
  １日無駄にしてしまった。。。
</p>

<p>
  そんな時このサイトを活用していただき、やりたい事、やらなくてはいけない事を整理していただければと思います。<br />
  また自身でご褒美を設定していただく機能があります。ご褒美GET目指して頑張りましょう！<br />
  １日に何か一つでも取り組めれば万々歳です。気楽にいきましょう〜
</p>

<%= image_tag 'リラックス１.png', size: '300x300' %>
<%= link_to 'ログイン画面へ', new_user_session_path %>

<%= image_tag 'リラックス２.png', size: '300x300' %>
<%= link_to '新規登録画面へ', new_user_registration_path %>