<!DOCTYPE html>
<html>
  <head>
    <title>今日はこれだけ</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="conteiner">
      <div class="site_start">
        <h1 class="site_name">今日はこれだけ</h1>
        <p class="site_introduction">
          当サイトは、<strong>タスク管理のサイト</strong>です。
          早速始めてみましょう！<br />
          <%= link_to "始める", new_user_session_path %>
        </p>
      </div>
    </div>
  </body>
  <%= yield %>
  </body>
</html>