<p class='introduce'>
  お疲れさまです。「今日はこれだけ」運営部です。<br />
  当サイトは、<strong>タスク管理のサイト</strong>です。初めてご利用の方は概要ページをご確認ください。<br />
  User登録されている方は必要事項を入力し、「ログイン」ボタンを押下してください。<br />
  User登録されていない方は、「新規登録」ボタンから必要事項の入力をお願いします。<br />
</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %> <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %> <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

   <% if devise_mapping.rememberable? %>

      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= link_to "新規登録画面へ", new_user_registration_path %>

<!--<= render "devise/shared/links" %>-->

<%= image_tag '名刺.png', size: '300x300' %>